/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
===============================
General
===============================
*/

body {
	font-family: 'Encode Sans Condensed', sans-serif;
	background-color: black;
	font-size: 14px;
}

/*
===============================
Grid
===============================
*/


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
  margin: 0 auto;
}

.col-1-3,
.col-2-3  {
  display: inline-block;
  vertical-align: top;
}

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

/*
===========================
	Containers
===========================
*/

.main.container {
	width: 850px;
	margin: 0 auto;
}

/*
===========================
	Navigator
===========================
*/

.nav {
	text-align: left;
	background-color: rgb(0,133,198);
	color: white;
	padding-left: 50px;
}

.nav a {
	color: white;
	text-decoration: none;
}

.nav li {
	display: inline-block;
	margin: 20px 10px;
	vertical-align: top;
}

.nav:last-child {
	margin-right: 0;
}

/*
===========================
	Name and Image Header
===========================
*/

.intro:before,
.intro:after {
  content: "";
  display: table;
}
.intro:after {
  clear: both;
}
.intro {
  clear: both;
  *zoom: 1;
	background-color: rgb(10,161,218);
	color: white;
	padding-left: 50px;
}


.intro h1,
.intro h2 {
	width: 50%;
	margin-right: 0;
}

.intro h1 {
	font-size: 60px;
	margin-top: 70px;
}

.intro h2 {
	font-size: 20px;
	margin-bottom: 40px
}

.intro img {
	width: 125px;
	height: 125px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 50%;
	float: right;
	vertical-align: center;
}

/*
===========================
	Abstract
===========================
*/

.abstract {
	padding: 40px 0;
	background-color: rgb(87,98,104);
	color: white;
	padding-left: 50px;
	padding-right: 50px;
}

/*
===========================
	Skills
===========================
*/

.skills {
	padding-left: 50px;
	padding-right: 30px;
	background-color: rgb(247,247,247);
	height: 800px;
}

h5 {
	font-size: 18px;
	margin-bottom: 20px;
	margin-top: 30px;
}

table th {
	text-align: left;
}

table {
  width: 100%;
}

table:last-child {
  margin-bottom: 0;
}

th,
td {
  padding-bottom: 10px;
  vertical-align: top;
}

th {
  padding-right: 10px;
  text-align: right;
  width: 10%;
}

.skills td {
  width: 40%;
}

.skills .bg-filled {
	height: 10%;
	background-color: rgb(10,161,218);
	color: rgb(10,161,218);
}

.skills .bg-empty {
	height: 10%;
	background-color: rgb(238,238,238);
	color: rgb(238,238,238);
}

thead {
  line-height: 44px;
}

thead th {
  font-size: 24px;
}

tbody th {
  font-weight: 400;
  padding-top: 10px;
}

tbody td {
  padding-top: 10px;
}

tbody td:first-of-type {
  padding-right: 15px;
}

tbody td:last-of-type {
  padding-left: 15px;
}

tbody td:only-of-type {
  padding-right: 0;
  padding-left: 0;
}
/* Personal Section */
.personal tbody tr {
	border-bottom: 1px solid #dfe2e5;
}

/* Hobbies Section */

.hobbies img {
	height: 50px;
	width: 50px;
}

.hobbies p {
	text-align: center;
	width: 50px;
}

/*
===========================
	Experience
===========================
*/

.experience {
	padding-right: 50px;
	padding-left: 20px;
	background-color: rgb(238,238,238);
	height: 800px;
}

/* Work Section */
.work h6 {
	font-weight: bold;
	width: 75%;
	display: inline-block;
	margin-bottom: 5px;
}

.work .year {
	display: inline-block;
	font-weight: bold;
	width: 25%;
	text-align: right;
}

.work li {
	margin-bottom: 15px;
}

/* Professional Skills Section */

.professional-skills td {
	width: 20%;
	text-align: center;
	font-size: 12px;
	padding-left: 0;
	padding-right: 0;
}

.professional-skills td:first-of-type {
	padding-right: 0;
}

.professional-skills td:last-of-type {
	padding-left: 0;
}

/*
===========================
	Footer
===========================
*/

/* Social Media */

.social {
	background-color: rgb(10,161,218);
}

.social table {
	width: 75%;
	margin: 0 auto;
	text-align: center;
}

/* Contact */

.contact {
	text-align: left;
	background-color: rgb(0,133,198);
	color: white;
	padding: 20px 50px;
}

.contact .address {
	width: 80%;
	display: inline-block;
}

.contact .website {
	display: inline-block;
	text-align: right;
	width: 20%;
}
